* {
  margin: 0;
  padding: 0;
}



a {
  color: rgb(39, 39, 39);
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  color: #000;
}

h3 {
  font-size: 22px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

.btn {
  padding: 5px 15px;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
}
.btn:hover {
  background-color: rgb(27, 149, 224);;
}


body {
  min-width: 100%;
  background: url('images/aurora.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.page_grid {
  width: 100%;
  height: 100vh;
}
.menu_icon {
  display: none;
  width: 30px;
  height: 3px;
  background-color: #000;
  position: absolute;
  border-radius: 1px;
  top: 50px;
  right: 30px;
  cursor: pointer;
  z-index: 1000;
}
.menu_icon:hover {
  cursor: pointer;
}
.menu_icon::before,
.menu_icon::after {
  content: '';
  display: block;
  position: relative;
  width: 15px;
  height: 3px;
  background-color: #000;
}
.menu_icon::before {
  top: -8px;
}
.menu_icon::after {
  bottom: -8px;
  left: 15px;
}

.main {
  background-color: rgba(255,255,255,0.8);
  width: 25%;
  text-align: center;
  display: block;
  position: fixed;
  z-index: 999;
  transition: left 0.5s ease-in-out;
}
.navbar {
  height: 100vh;
  z-index: 5;
  color: #000;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
}
.navbar_nav {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 255px;
  text-transform: uppercase;
}
.nav_item {
  align-self: center;
}
.nav_item:hover {
  color: rgb(187, 79, 79);
}

.content_item {
  display: block;
  float: right;
  width: 75%;
}


.bg_head {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  position: absolute;
  top: 0;
}
.bg_head::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.user_card_wrapper {
  height: 400px;
  position: relative;
}
.user_card {
  z-index: 5;
  width: 250px;
  height: 250px;
  border: 3px solid #e9e9e9;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: -87px;
}

.content_wrap {
  background-color: #fff;
  border: 1px solid #e9e9e9;
}

.content_header {
  display: grid;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e9e9e9;
  padding: 10px 25px;
}
.content_header h2 {
  margin-bottom: 10px;
}
.content_header select {
  margin-bottom: 10px;
}
.content_header span {
  font-size: 18px;
  font-family: 'serif';
  margin-bottom: 7px;
}

.content_content {
  width: 100%;
  height: 100vh;
}
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  padding: 20px;
}

.projects_item {
  position: relative;
  border: 1px solid #e9e9e9;
}
.projects_item:hover {
  cursor: pointer;
}
.projects_item:hover .projects_item_bg::before,
.projects_item:hover .projects_item_text {
  opacity: 1;
}
.projects_item_bg {
  width: 100%;
  height: 190px;
  background-size: cover;
  background-repeat: no-repeat;
}
.projects_item_bg::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.projects_item_text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.projects_item_text_header {
  color: #fff;
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 18px;
  text-transform: uppercase;
}

.visit_btn {
  margin-right: 15px;
}
